workflows/n8n/reply-handler-linkedin.json
{
  "name": "Reply Handler - LinkedIn (HeyReach)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reply-handler-linkedin",
        "authentication": "headerAuth",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "HeyReach Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "reply-handler-linkedin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-secret",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: { code: 'AUTH_FAILED', message: 'Invalid webhook secret' } }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "auth-failed-response",
      "name": "Auth Failed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [500, 450]
    },
    {
      "parameters": {
        "jsCode": "// Parse HeyReach webhook payload and transform for Reply Handler agent\nconst body = $input.first().json.body;\n\n// Validate required fields\nif (!body.event_type || body.event_type !== 'message_received') {\n  throw new Error('Invalid event type: expected message_received');\n}\n\nif (!body.lead?.linkedin_url || !body.message?.text) {\n  throw new Error('Missing required fields: lead.linkedin_url or message.text');\n}\n\n// Transform to agent format\nconst agentPayload = {\n  source: 'linkedin',\n  reply: {\n    lead_linkedin_url: body.lead.linkedin_url,\n    lead_name: `${body.lead.first_name || ''} ${body.lead.last_name || ''}`.trim() || 'Unknown',\n    company: body.lead.company || 'Unknown',\n    title: body.lead.headline || '',\n    campaign_id: body.campaign_id || null,\n    conversation_id: body.message.conversation_id || null,\n    body: body.message.text,\n    received_at: body.message.timestamp || new Date().toISOString()\n  },\n  brain_id: body.brain_id || $env.DEFAULT_BRAIN_ID || 'default'\n};\n\nreturn [{ json: agentPayload }];"
      },
      "id": "parse-message-event",
      "name": "Parse Message Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_BASE_URL || 'http://localhost:3001' }}/webhook/reply-handler/process",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-reply-handler",
      "name": "Call Reply Handler Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-agent-success",
      "name": "Agent Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-meeting-request",
              "leftValue": "={{ $json.data?.intent }}",
              "rightValue": "meeting_request",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-meeting-request",
      "name": "Meeting Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-positive",
              "leftValue": "={{ $json.data?.intent }}",
              "rightValue": "positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-positive",
      "name": "Positive Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-question",
              "leftValue": "={{ $json.data?.intent }}",
              "rightValue": "question",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-question",
      "name": "Has Question?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_HOT_LEADS_CHANNEL || '#hot-leads' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"🔥 *LinkedIn Meeting Request!*\\n\\n*Lead:* \" + $json.data.lead_name + \"\\n*Title:* \" + ($json.data.title || \"N/A\") + \"\\n*Company:* \" + $json.data.company + \"\\n*LinkedIn:* \" + $json.data.lead_linkedin_url + \"\\n\\n*Message:*\\n> \" + ($json.data.body || \"\").substring(0, 300) + \"\\n\\n*Suggested Action:* Share Calendly link\\n\\n*Suggested Response:*\\n```\" + ($json.data.suggested_response || \"Thanks for your interest! Here's my calendar: [Calendly link]\").substring(0, 500) + \"```\" } },\n  { \"type\": \"divider\" },\n  { \"type\": \"actions\", \"elements\": [\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"📅 Send Calendly\", \"emoji\": true }, \"style\": \"primary\", \"action_id\": \"send_calendly\", \"value\": JSON.stringify({ linkedin_url: $json.data.lead_linkedin_url, action: \"send_calendly\" }) },\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"✏️ Custom Response\", \"emoji\": true }, \"action_id\": \"custom_response\", \"value\": JSON.stringify({ linkedin_url: $json.data.lead_linkedin_url, action: \"custom_response\" }) }\n  ]}\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-meeting-request",
      "name": "Slack Meeting Request",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 0],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Queue personalized follow-up for positive responses\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    queued: true,\n    action: 'personalized_followup',\n    lead_linkedin_url: data.data?.lead_linkedin_url,\n    lead_name: data.data?.lead_name,\n    company: data.data?.company,\n    suggested_response: data.data?.suggested_response,\n    queue_time: new Date().toISOString(),\n    follow_up_delay_hours: 24\n  }\n}];"
      },
      "id": "queue-followup",
      "name": "Queue Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_REVIEW_CHANNEL || '#lead-reviews' }}",
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify([\n  { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"❓ *LinkedIn Question - Review Needed*\\n\\n*Lead:* \" + $json.data.lead_name + \"\\n*Title:* \" + ($json.data.title || \"N/A\") + \"\\n*Company:* \" + $json.data.company + \"\\n*LinkedIn:* \" + $json.data.lead_linkedin_url + \"\\n\\n*Question:*\\n> \" + ($json.data.body || \"\").substring(0, 400) + \"\\n\\n*Suggested Response:*\\n```\" + ($json.data.suggested_response || \"Review and craft response\").substring(0, 500) + \"```\" } },\n  { \"type\": \"divider\" },\n  { \"type\": \"actions\", \"elements\": [\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"✅ Approve & Send\", \"emoji\": true }, \"style\": \"primary\", \"action_id\": \"approve_response\", \"value\": JSON.stringify({ linkedin_url: $json.data.lead_linkedin_url, action: \"approve_response\" }) },\n    { \"type\": \"button\", \"text\": { \"type\": \"plain_text\", \"text\": \"✏️ Edit\", \"emoji\": true }, \"action_id\": \"edit_response\", \"value\": JSON.stringify({ linkedin_url: $json.data.lead_linkedin_url, action: \"edit_response\" }) }\n  ]}\n]) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-question",
      "name": "Slack Question Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 400],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle not interested or graceful close\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    action: 'graceful_close',\n    lead_linkedin_url: data.data?.lead_linkedin_url,\n    lead_name: data.data?.lead_name,\n    intent: data.data?.intent || 'not_interested',\n    processed_at: new Date().toISOString(),\n    close_sequence_triggered: true\n  }\n}];"
      },
      "id": "graceful-close",
      "name": "Graceful Close",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 600]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate final response\nconst originalPayload = $('Parse Message Event').first().json;\nconst agentResponse = $('Call Reply Handler Agent').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      source: 'linkedin',\n      lead_linkedin_url: originalPayload.reply.lead_linkedin_url,\n      lead_name: originalPayload.reply.lead_name,\n      intent: agentResponse.data?.intent || 'unknown',\n      processed_at: new Date().toISOString(),\n      action_taken: true\n    }\n  }\n}];"
      },
      "id": "aggregate-response",
      "name": "Aggregate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ALERTS_CHANNEL || '#gtm-alerts' }}",
        "text": "={{ '⚠️ *Reply Handler Error*\\n\\n*Source:* LinkedIn (HeyReach)\\n*Error:* ' + ($json.error?.message || 'Unknown error') + '\\n*Lead:* ' + ($('Parse Message Event').first().json?.reply?.lead_name || 'Unknown') + '\\n*Timestamp:* ' + new Date().toISOString() }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "slack-error-alert",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 450],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIALS_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: { code: 'AGENT_ERROR', message: $json.error?.message || 'Agent processing failed' } }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 450]
    }
  ],
  "connections": {
    "HeyReach Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Parse Message Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message Event": {
      "main": [
        [
          {
            "node": "Call Reply Handler Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Reply Handler Agent": {
      "main": [
        [
          {
            "node": "Agent Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Success?": {
      "main": [
        [
          {
            "node": "Meeting Request?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Request?": {
      "main": [
        [
          {
            "node": "Slack Meeting Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Positive Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positive Response?": {
      "main": [
        [
          {
            "node": "Queue Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Question?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Question?": {
      "main": [
        [
          {
            "node": "Slack Question Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Graceful Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Meeting Request": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Follow-up": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Question Review": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graceful Close": {
      "main": [
        [
          {
            "node": "Aggregate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Error Alert": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "atlas-gtm-reply-handler-linkedin"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reply-handling"
    },
    {
      "name": "linkedin"
    },
    {
      "name": "heyreach"
    },
    {
      "name": "atlas-gtm"
    }
  ],
  "pinData": {},
  "notes": [
    {
      "id": "note-1",
      "content": "## Reply Handler - LinkedIn (HeyReach)\n\n### Purpose\nProcess incoming LinkedIn message replies from HeyReach campaigns.\n\n### Environment Variables Required:\n- `WEBHOOK_SECRET`: Secret for authenticating webhook requests\n- `AGENT_BASE_URL`: URL of the agent service (default: http://localhost:3001)\n- `SLACK_HOT_LEADS_CHANNEL`: Slack channel for meeting requests (default: #hot-leads)\n- `SLACK_REVIEW_CHANNEL`: Slack channel for questions (default: #lead-reviews)\n- `SLACK_ALERTS_CHANNEL`: Slack channel for errors (default: #gtm-alerts)\n\n### Workflow Flow:\n1. **HeyReach Webhook**: Receives POST from HeyReach on message_received event\n2. **Auth Check**: Validates X-Webhook-Secret header\n3. **Parse Message Event**: Transforms HeyReach payload to agent format\n4. **Call Reply Handler Agent**: POSTs to agent with 60s timeout, 3 retries\n5. **Route by Intent**:\n   - Meeting Request → #hot-leads + Calendly suggestion\n   - Positive → Queue personalized follow-up\n   - Question → #lead-reviews for response review\n   - Not Interested → Graceful close sequence\n6. **Success/Error Response**: Returns result to HeyReach\n\n### HeyReach Webhook Payload:\n```json\n{\n  \"event_type\": \"message_received\",\n  \"campaign_id\": \"hrcmp_456\",\n  \"lead\": {\n    \"linkedin_url\": \"https://linkedin.com/in/johndoe\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"headline\": \"VP Engineering at Acme Corp\",\n    \"company\": \"Acme Corp\"\n  },\n  \"message\": {\n    \"text\": \"Thanks for connecting!\",\n    \"timestamp\": \"2024-01-15T10:30:00Z\",\n    \"conversation_id\": \"conv_xyz\"\n  }\n}\n```\n\n### Test with curl:\n```bash\ncurl -X POST http://localhost:5678/webhook/reply-handler-linkedin \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Webhook-Secret: $WEBHOOK_SECRET\" \\\n  -d '{\"event_type\":\"message_received\",\"lead\":{\"linkedin_url\":\"https://linkedin.com/in/test\",\"first_name\":\"John\"},\"message\":{\"text\":\"Yes, I\\'d be open to a chat!\"}}'\n```",
      "position": [100, 550]
    }
  ]
}
